

    <footer class="newsFoot">
        <span data-forhash="#newsList" class="<%= pageName == 'newsList' ? "newsFootBg" : "" %>">
            <dl id="footerNews">
                <dt class="newfootIcon_1"></dt>
                <dd>新闻</dd>
            </dl>
        </span>
        <span data-forhash="#eventList" class="<%= pageName == 'eventList' ? "newsFootBg" : "" %>">
            <dl id="footerBrand">
                <dt class="newfootIcon_2"></dt>
                <dd>品牌</dd>
            </dl>
        </span>
        <span data-forhash="#magazList" class="<%= pageName == 'magazList' ? "newsFootBg" : "" %>">
            <dl id="footerMagaz">
                <dt class="newfootIcon_3"></dt>
                <dd>杂志</dd>
            </dl>
        </span>
        <span data-forhash="#videoList" class="<%= pageName == 'videoList' ? "newsFootBg" : "" %>">
          <dl id="footerMovie">
                <dt class="newfootIcon_4"></dt>
                <dd>视频</dd>
            </dl>
        </span>
        <span data-forhash="#myHome" class="<%= pageName == 'myHome' ? "newsFootBg" : "" %>">
          <dl id="footerMy">
                <dt class="newfootIcon_5"></dt>
                <dd>我的</dd>
            </dl>
        </span>
    </footer>